body {
  font-family: "Anton", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
  background-color: #f4f4f4;
}
/*logo*/
#logo {
  position: absolute;
  top: 50px;
  left: 60px;
}
.text__slogo {
  color: var(--Yellow, #ffd15b);
  text-align: center;
  font-family: "Anton";
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 800px;
  width: 100%;
}
.text-center {
  display: flex;
  justify-content: center;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}
/*logo*/
/* image de fond dans la nav*/
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* image de fond dans la nav*/
/*filtres*/
.custom-bg-container {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
/*filtres*/
/* Barre de recherche*/
.input svg {
  width: 25px;
  height: 20px;
}
#input_main {
  color: var(--Grey, #7a7a7a);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 11px;
  background: #fff;
  height: 72px;
}
.Loupe-input {
  position: relative;
  left: -14px;
  height: 50px;
  background-color: #1b1b1b;
  z-index: 10;
  border-radius: 10px;
  border-color: #1b1b1b;
  margin-left: -55px;
  font-size: 5px;
}
.Loupe-input:hover {
  background-color: #ffd15b;
  border-color: #ffd15b;
}
.svgCroix {
  position: absolute;
  right: 12%;
  top: 55%;
  transform: translateY(-80%);
  cursor: pointer;
  z-index: 10;
  width: 13px;
  height: 13px;
  display: none;
}

/* Barre de recherche*/
/* Style pour les dropdowns */
.filter-btn {
  display: inline-flex;
  padding: 17px 10px;
  align-items: center;
  gap: 63px;
  border-radius: 11px;
  background: #FFF;
  border: 1px solid #ced4da; /* Pour s'harmoniser avec le style Bootstrap */
  color: var(--Black, #1B1B1B);
  font-family: 'Manrope';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* Flèche initiale dans le bouton du dropdown */
.filter-btn svg {
  transition: transform 0.3s ease; /* Animation douce pour la rotation */
}

/* Quand le dropdown est ouvert, la flèche tourne */
.dropdown.show .filter-btn svg {
  transform: rotate(180deg); /* Rotation de 180 degrés */
}


.dropdown-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap ;
  gap: 66px;
  width: 100%;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-menu {
  /* display: none; Hidden by default */
  /* position: absolute; */
  padding: 10px;
  min-width: 250px; /* Ajuste la largeur minimum du menu dropdown */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu input {
  padding: 10px;
  margin: 10px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

.dropdown-item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.input-group {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--Grey, #7A7A7A);
font-family: 'Manrope';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.form-control {
  padding-right: 60px; /* Pour faire de la place pour les icônes */
  background: #FFF;
}

.input-icons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 17px;
  bottom: 11px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.clear-button {
  margin-right: 5px;
}

.total-recipes {
  margin-top: 25px;
  color: var(--Black, #1B1B1B);
  font-family: 'Anton';
  font-size: 21px;
  font-weight: 400;
  max-width:150px ;
  width: 100%;
}

/* Cards*/
/* .ContainerCards{
 
} */
.card-body p {
  font-size: 14px;
  list-style: none;
  font-family: "Manrope";
  
}
.card-body h5 {
  font-weight: bold;
  font-family: "Anton";
  font-weight: 400;
  line-height: normal;
}
.card {
  width: 100%;
  max-width: 380px;
  height: 100%;
  border-radius: 21px;
}
.card img {
  height: 253px;
  object-fit: cover;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}
.card h6 {
  color: var(--Grey, #7a7a7a);
  font-family: "Manrope";
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.span_min {
  width: 63px;
  height: 26px;
  border-radius: 14px;
  text-align: center;
  background-color: #ffd15b;
  position: absolute;
  right: 20px;
  top: 20px;
}
.card:hover {
  transform: scale(1.1);
}
article {
  margin-bottom: 50px;
}
.card-text {
  color: var(--Black, #1b1b1b);
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  height: auto; /* Définit une hauteur fixe */
  overflow: hidden; /* Cache le contenu qui dépasse */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte déborde */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limite le texte à quatre lignes */
  -webkit-box-orient: vertical;
  margin-bottom: 40px;
  line-height: normal;
}

article {
  display: flex;
  justify-content: center;
  max-width: 30%;
 
}

.Container_ingredient {
  font-family: "Manrope";
  font-size: 14px;
  display: flex;
}
.Container_ingredient h6 {
  font-size: 14px;
  color: var(--Black, #1b1b1b);
  font-style: normal;
  line-height: normal;
}
.Container_ingredient p {
  color: var(--Grey, #7a7a7a);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}
.container-fluid label {
  cursor: pointer;
  margin-bottom: 0;
  width: 91%;
  max-width: 192px;
  height: 32px;
}

/* respensive  */

